/*
 * Rules which must apply at all times.
 */

/*
 * Global colo vars
 */
:root {
    --bright-lime: 	#9cff00;
    --dim-lime: 	#6baf00;
    --dark-lime: 	#436d00;
    --pale-lime:    #dbffa3;
}

/*
 * Anchors w/in content
 */
div.content a, .citation {
    background-color: var(--pale-lime);
    color: var(--dark-lime);
    transition: color 0.15s;
    text-decoration: none;
}
div.content a:hover, .citation {
    color: var(--dim-lime);
    background-color: none;
}

/* My profile pic (on About page) */
img.jm-profile-pic {
    display: block;
    margin: 2% auto;
    border: 0.5em solid #191818;
}

