/*
 *	Tweaks to pure-css rules
 */

/* Menu header (ie: "JM Janzen") */
div#menu div.pure-menu a.pure-menu-heading {
    background-color: var(--bright-lime);
    color: #232323;
}

code {
  color: var(--dim-lime);
}

/* "home" image next to Menu Header */
img.home-img {
	padding-left: 5%;
	width: 15%;
	height: auto;
}

div#menu {
    border-right: 2px solid var(--bright-lime);
}

/* Hamburger bg */
div#layout a#menuLink.menu-link {
    background-color: var(--dim-lime);
    border-bottom: 2px solid var(--bright-lime);
    border-right:  2px solid var(--bright-lime);
}
/* Hamburger lines */
div#layout a#menuLink.menu-link span,
div#layout a#menuLink.menu-link span:before,
div#layout a#menuLink.menu-link span:after {
    background-color: var(--bright-lime);
}


/* External links */
div#menu div.pure-menu a.x-origin {
    color: var(--dim-lime)
}

/* External links label */
div#menu div.pure-menu li.x-label {
    background-color: #101010;
    color: #505050;
	text-align: center;
	font-size: 0.7em;
}

/* Internal links */
.pure-menu-link .pure-menu-sep {
    display: block;
    text-decoration: none;
    white-space: nowrap;
    background-color: #0abf0b;
}

div#menu div.pure-menu a.pure-menu-heading:hover {
    background-color: #232323;
    color: var(--bright-lime);
}

